.boking-confirmation{}
.order-details{}
.booking-row{
    width: 50%;
    margin:0 auto;
}
.order-img img{
    width: 50%;
    height: 120px;
    margin-top: 50px;
}
.order-margin{
    margin-top: -50px;
}
.order-details h2{
    text-align: center;
    font-weight: 600;
    font-family: initial;
    margin-top: 20px;
    font-size: 26px;
    color: #886928;
    margin-bottom: 70px;
}
.bookings-wrap{
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 25px;
    margin-bottom: 60px;
}
.confirmation{
    text-align: center;
    background: #FBF8F3;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
.check-icon{
    border: 3px solid #A28549;
    color: #A28549;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 10px;
}
.confirmation h4{
    font-family: initial;
    font-weight: 600;
    color: #3f3e3e;
    font-size: 22px;
    margin-top: 10px;
}
.confirmation p{
    color: #7d7b7b;
    font-weight: 500;
    font-size: 17px;
}
.order-details {}
h4.order-heading, .order-detail-right h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: initial;
    margin-bottom: 20px;
    margin-top: 30px;
}
.order-detail-left{
    display: flex;
}
.order-detail-left img{
    width: 50%;
}
.order-left-data{
    margin-left: 30px;
    margin-top: 20px;
}
.order-left-data h4{
    font-size: 22px;
    font-weight: 600;
    font-family: initial;
    margin-bottom: 12px;
}
.order-left-data span{
    font-size: 14px;
    color: #434242;
    margin-bottom: 3px;
    display: inline-block;
}
.order-left-data span.total{
    color: #000;
    font-weight: 600;
}
.order-detail-right{
    padding-top: 40px;
}

.order-detail-right p{
    line-height: 16px;
    font-size: 14px;
    font-weight: 600;
} 
.order-detail-right p span{
    font-weight: 500;
    color: #4d4d4d;
}